//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

//$primary: rgb(102,169,89);
$primary: #7c9d2b;
$success: rgb(55,73,84);
//$warning: rgb(201,70,57);
$danger: #df4d12;
//$danger: rgb(235,185,45);
//$warning: #fbba22;
$warning: #df4d12;
//$info: rgb(95,122,185)
$info: #04628a;


/*
light - Light
dark - Dark
*/