{#if user.gender == 1}
Sehr geehrter Herr
{#else if user.gender == 2}
Sehr geehrte Frau
{#else if user.gender == 3}
Sehr geehrte(r)
{#else if user.gender == 11}
Sehr geehrte Famile
{#else if user.gender == 12}
Sehr geehrte Damen und Herren vom Vereinsvorstand
{#else if user.gender == 13}
Sehr geehrte Damen und Herren vom Gemeindevorstand
{/if}
{user.titlePrefix}
{user.firstName}
{#if user.titleSuffix != ""}
{user.lastName}, {user.titleSuffix}
{#else}
{user.lastName}
{/if},
<br><br>
Ihr solar.family Angebot steht Ihnen zum Download zur Verfügung.
<br><br>
Unter <a href="{passwordResetLink}">{passwordResetLink}</a> ist Ihre passwortgeschützte Registrierung möglich und Sie können nach erfolgreicher Registrierung und Login die genannten Unterlagen herunterladen.
<br><br>
Das Angebot ist gültig bis zum {deadlineDate} und bestellen Sie gleich direkt über unsere Plattform:
<br>
<a href="{passwordResetLink}">{passwordResetLink}</a> 