Werte*r Interessent*in,
<br><br>
Ihre Anfrage bei der solar.family ist eingegangen und in Bearbeitung!
<br><br>
Vielen Dank für Ihr Interesse, wir kontaktieren Sie gerne zu Ihrem gewünschten Telefontermin am {stringTermin}.
<br><br>
Werden Sie Teil der solar.family!
<br>
<i>Ihr Service Team</i>
<br><br><br>
<img src="cid:logo@solar" style="height:20px;">
<br>
<b>solar.family GmbH</b>
<br>
Herrschaftsweg 29
<br>
7551 Stegersbach
<br>
+43 (0)3326 52496-100
<br>
<a mailto="info@solar.family">info@solar.family</a>