<div>
  <br/>
  <br/>
  <div style="text-align:center; font-weight:bold; font-size:1.5em;">
    VOLLMACHT
  </div>
  <br/>
  <br/>
  <p>
    Ich
  </p>
  <p>
    <!--Herr [IDT1] u. Frau / Firma / Gemeinde:	Ing. [IDT3] Max Sonnenschein [IDT2], MSc. [IDT4]-->
    {#if user.gender == 1}
    Herr
    {#else if user.gender == 2}
    Frau
    {#else if user.gender == 11}
    Familie
    {#else if user.gender == 12}
    Verein:
    {#else if user.gender == 13}
    Gemeinde:
    {/if}
    {user.titlePrefix}
    {user.firstName}
    {#if user.titleSuffix != ""}
      {user.lastName}, {user.titleSuffix}
    {#else}
    {user.lastName}
    {/if}
  </p>
  <table width="100%" border="0">
    <tr>
      <td style="width:20%; padding:00px; vertical-align:top;">
        Ansprechperson:
      </td>
      <td style="padding:0px; vertical-align:top;">
        <!--ing. [IDT3] Max Sonnenschein [IDT2], MSc. [IDT4]-->
        {user.titlePrefix}
        {user.firstName}
        {#if user.titleSuffix != ""}
          {user.lastName}, {user.titleSuffix}
        {#else}
          {user.lastName}
        {/if}
      </td>
    </tr>
    <tr>
      <td style="width:20%; padding:00px; vertical-align:top;">
        Straße:
      </td>
      <td style="padding:0px; vertical-align:top;">
        <!--Solarweg 12 [IDT5]-->
        {address.street}
      </td>
    </tr>
    <tr>
      <td style="width:20%; padding:00px; vertical-align:top;">
        PLZ / Ort::
      </td>
      <td style="padding:0px; vertical-align:top;">
        {address.postNr} {address.city}
      </td>
    </tr>
  </table>
  <p>
    als Vollmachtgeber bevollmächtige/n und beauftrage/n hiermit ausdrücklich die
  </p>
  <p>
  <div style="text-align:center; font-weight:bold;">
    solar.family GmbH,
    <br/>
    Herrschaftsweg 29, 7551 Stegersbach
  </div>
  </p>
  <p>
    als Vollmachtnehmer, den Netzzugangsantrag (KÜN), den Netzzugangsvertrag und die Installationsdokumente (Fertigstellungsmeldung) der {powerBill.netProvider} für die Anlage:
    <div style="text-align:center; font-weight:bold;white-space: pre-wrap;">
      {plant.title}
    </div>
    in unserem Namen sowie auf unseren Auftrag zu unterzeichnen.
  </p>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <p>
    _____________________________
    <br/>
    Ort, Datum
    <br/>
    <br/>
    <br/>
    <br/>
    ______________________________
    <br/>
    <!--[IDT1] bis [IDT6]-->
    {user.titlePrefix}
    {user.firstName}
    {#if user.titleSuffix != ""}
      {user.lastName}, {user.titleSuffix}
    {#else}
      {user.lastName}
    {/if}

  </p>
</div>