<div>
    <table width="100%">
        <tr>
            <td colspan="2">
                {#if user.gender == 1}
                Herr
                {#else if user.gender == 2}
                Frau
                {#else if user.gender == 3}
                Firma
                {#else if user.gender == 4}
                Gemeinde:
                {/if}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {user.titlePrefix}
                {user.firstName}
                {#if user.titleSuffix != ""}
                    {user.lastName}, {user.titleSuffix}
                {#else}
                    {user.lastName}
                {/if}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {address.street}
            </td>
        </tr>
        <tr>
            <td>
                {address.postNr} {address.city}
            </td>
            <td align="right">
                Stegersbach, {date}
            </td>
        </tr>
    </table>
    <br/>
    <br/>
    <table width="100%">
        <tr>
            <td>
                PHOTOVOLTAIK - BETEILUNGSPROJEKT
            </td>
            <td align="right">
                Bearbeiter: {plant.createdByName}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {plant.title}
            </td>
        </tr>
    </table>
    <br/>
    <br/>
    <p>
        <!--Sehr geehrter Herr [IDT1] Ing. [IDT3] Max Sonnenschein [IDT2], MSc. [IDT3],-->
        {#if user.gender == 1}
            Sehr geehrter Herr
        {#else if user.gender == 2}
            Sehr geehrte Frau
        {#else if user.gender == 3}
            Firma
        {#else if user.gender == 4}
            Gemeinde:
        {/if}
        {user.titlePrefix}
        {user.firstName}
        {#if user.titleSuffix != ""}
            {user.lastName}, {user.titleSuffix},
        {#else}
            {user.lastName},
        {/if}
    </p>
    <p>
        es freut uns sehr, dass wir mit dem Photovoltaik-Beteiligungsprojekt „{plant.title}“ Ihr Interesse wecken konnten.
    </p>
    <p>
        Im Anhang übermitteln wir Ihnen die für die Teilnahme am Vorhaben relevanten, auf Basis der gemeinsamen Vor-Ort Begehung erstellten, nachstehenden Unterlagen zur Durchsicht:
        <ul>
            <li>Projektierungsunterlagen und Prognoserechnung {plantNominalPower} kWp PV-Anlage</li>
            <li>Vertrag Energieeinsparung (2fach)</li>
            <li>Verrechnungsblatt (2fach)</li>
            <li>Vollmacht Abwicklung</li>
            <li>Vollmacht Energieabrechnung</li>
            <li>Formular SEPA Lastschriftmandat</li>
        </ul>
    </p>
    <p>
        <u>ad Projektierungsunterlagen:</u><br/>
        Die Projektierungsunterlagen wurden auf Basis der örtlichen Gegebenheiten, Ihren Angaben sowie Ihrer Stromverbrauchswerten erstellt (Der PV-Dachbelegungsplan kann in Abstimmung mit uns im Bedarfsfall angepasst werden).
    </p>
    <p>
        Die in der Projektierung verwendeten Solarmodule werden in der EU hergestellt.
    </p>
    <p>
        Es kann bezugnehmend auf die ordnungsgemäßen Voraussetzungen zum Betrieb einer Photovoltaik-Anlage erforderlich sein (das Erfordernis wird im Zuge der Anlagenmontage überprüft), einen Erdspieß zu schlagen. Für den Fall, dass die Herstellung eines Erdspießes notwendig ist, bieten wir Ihnen die Leistungen gerne zu einem Herstellungspreis von € {tariffSpikePrice} inkl. USt. an.
        <br/>
        Ebenso ist es erforderlich bei Ihrer bestehenden Stromversorgungsanlage im Zählerverteiler Überspannungsableiter vom Typ I nachzurüsten. Gerne können wir die Herstellung des Überspannungsableiter zum Preis von € {tariffSurgePrice} inkl. USt. durchführen. Die o.g. Aufwände stellen keinen Vertragsbestandteil dar.
        <br/>
        Die Herstellung der benötigten Internetverbindung ist über Ihr bestehendes WLAN-System vorgesehen. Für den Fall, dass über das WLAN-System keine Verbindung zum Wechselrichter hergestellt werden kann, muss die Verbindung mit Hilfe von POWER-LAN Adaptern realisiert werden. Der Preis hierzu beläuft sich auf € {tariffPricePowerLanAdapter} inkl. USt.
    </p>
    <div style="page-break-before: always;"></div>
    <p>
        <u>ad Förderabwicklung:</u><br/>
        Sie erhalten nach Durchführung des Vorhabens eine Gesamtrechnung über den im o.g. Verrechnungsblatt deklarierten Anschaffungswert. Auf Basis der Förderbedingungen (KPC - 2.7.2020) werden Anlagen

        {#if plant.nominalPower < 10}
            bis 10kWp mit {tariffSubventionTo10Kw} EUR/kWp
        {#else}
            ab 10kWp mit {tariffSubventionFrom10Kw} EUR/kWp
        {/if}

        bzw. max 35% der förderfähigen Kosten vergütet. Die Abwicklungsstelle wartet nicht bis genügend Raten bezahlt sind, es gilt die Ersteinreichung. Hinsichtlich der Bewerkstelligung einer nicht rückzahlbaren Förderung stehen in diesem Projekt folgende Anzahlungsoptionen (=1te Teilzahlung) zur Verfügung:
        <br/>
        <br/>
        A)     Min Anzahlung:   davon werden 35% als Förderung anerkannt<br/>
        B)     Max Anzahlung:   berechnet, damit Sie die maximale Förderung in Anspruch nehmen können.
        <br/>
        <br/>
        Bitte um Bekanntgabe der gewünschten Anzahlung.
        <br/>
        <br/>
        Der anteilige Förderbetrag wird Ihnen in weiterer Folge von der Förderstelle retourniert. Die Förderabwicklung wird unsererseits erledigt – Sie haben diesbezüglich keine Aufwände. Die detaillierten Informationen entnehmen sie bitte der beigelegten „Prognoserechnung unter Berücksichtigung der min/max Anzahlung“
    </p>
    <p>
        <u>ad Vollmacht Energieabrechnung:</u><br/>
        Wir weisen Sie darauf hin, dass auf Basis der Vollmacht der Energielieferant (Energie Burgenland) die Umstellung des Rechnungsversandes auf elektronische Basis (per Email) verlangen könnte bzw. ein Entgelt für die Erstellung eines Rechnungsduplikates einheben könnte.
    </p>
    <p>
        <u>ad Rücksendung der Unterlagen:</u><br/>
        Zum Zeichen Ihres Einverständnisses mit den Bedingungen zur Teilnahme am Photovoltaik-Beteiligungsmodell ist es erforderlich, dass Sie uns bis spätestens {validUntilDate} die nachstehenden Unterlagen an die nachstehende Postadresse
        <br/><br/>
        solar.family GmbH
        <br/>
        Herrschaftsweg 29,
        <br/>
        7551 Stegersbach
        <br/>
        <br/>
        übermitteln:
        <br/>
        <ul>
            <li>Vertrag Energieeinsparung unterfertigt</li>
            <li>Verrechnungsblatt unterfertigt</li>
            <li>Vollmacht Abwicklung unterfertigt</li>
            <li>Vollmacht Energieabrechnung unterfertigt</li>
            <li>SEPA Lastschriftmandat</li>
            <li>Meldezettel für Förderabwicklung</li>
        </ul>
    </p>
    <p>
        Die  Vertragsunterlagen erlangen erst nach Prüfung und Bereitstellung der unserseits gegengezeichneten Vertragsdokumente Ihre Gültigkeit. Als bald die Voraussetzung für die Umsetzung des Vorhabens gewährleistet sind, werden wir uns mit Ihnen bzgl. eines für Sie passenden Montagetermins in Verbindung setzten.
        <br/>
        Für den Fall, dass sie die Anlage direkt kaufen möchten, ersuchen wir sie um Ihre  Rückmeldung.
    </p>
    <p>
        Für etwaige Rückfragen stehen wir Ihnen unter 03326 52496-0 jederzeit gerne zur Verfügung.
    </p>
    <br/>
    <br/>
    <p>
        Mit freundlichen Grüßen
        <br/>
        Ihr solar.family Team
    </p>
</div>